<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="gihwan.spring.web"></context:component-scan>
	<!-- 
		<bean id="userService" class="gihwan.spring.web.user.Impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO" />
		</bean>
		<bean id="userDAO" class="gihwan.spring.web.user.Impl.UserDAO"></bean>
	 -->
	<!-- 
	<context:component-scan base-package="gihwan.spring.polymorphism">
		
	</context:component-scan>

	<bean id="apple" class="gihwan.spring.polymorphism.AppleSpeaker" />
	
	<bean id="myLifeBean" class="gihwan.spring.lifecycle.MyLifeBeanImpl" init-method="init">
		<property name="greeting"><value>Hello, </value></property>
	</bean>
	
	<bean class="gihwan.spring.lifecycle.CustomBeanPostProcessor"/>
	
	<bean id="collectionBean" class="gihwan.spring.collection.CollectionBean">
		<property name="addressList">
			<set value-type="java.lang.String">
				<value>서울시 서초구 서초동</value>
				<value>서울시 동대문구 장안동</value>
				<value>서울시 동대문구 장안동2</value>
				<value>서울시 동대문구 장안동3</value>
			</set>
		</property>
		
	</bean>

	<bean id="tv" class="gihwan.spring.polymorphism.SamsungTV" p:speaker-ref="apple" p:price="3000000"> </bean>
	<bean id="sony" class="gihwan.spring.polymorphism.SonySpeaker"/> 
	<bean id="apple" class="gihwan.spring.polymorphism.AppleSpeaker"/>
	-->
	
</beans>
